<div class="container-fluid">
    <ol class="breadcrumb col-md-9">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>
    <div id="pagetitle-menu" class="col-md-3" onclick="window.location=''"><a href="">ОБНОВИТЬ ДАННЫЕ</a></div>
</div>
<div id="workarea">
    <div id="workarea-content">
        <h1 class="pagetitle">Название страницы</h1>
       
        <div id="massage">
            <img id="massage_img" src="content/images/profile.jpg" />
                <div id="wrap">
                    <a class='iframe' href="test.php" title="Просмотр профиля: Имя">Кто пишет</a> -> <a href=""><span>Кому адресовано</span></a>
                    <a class="pull-right" href="">Архив сообщений</a>
                </div>
                
            <h3>Официально открыт корпоративный портал нашей компании</h3>
            <p class="massage_text">Сегодня официально заработал корпоративный портал нашей компании.<br /><br />
                                    Каждый сотрудник получил право на пользование общей информацией и индивидуальный пароль для управления своим персональным разделом.<br /><br />
                                    Настраиваемый доступ к определенным разделам портала позволяет сотрудникам отделов совместно работать над документами, создавать рабочие группы по проектам и работать над общей отчетностью.<br /><br />
                                    Цель создания портала - максимально упростить процедуру поиска нужных сотрудников в различных отделах компании.
            </p>
            <div class="massage_comment" id="wrap"><a class='iframe' href="" title="Просмотр полного текста: Материал">Полный текст</a> | <a class='iframe' href="" title="Просмотр комментариев на: Материал">Комментарии: (5)</a></div>
        </div>
    </div>
</div>
