<p style="font-size:11px; border-top:solid 1px">Номер Вашего сообщения @ViewBag.RegisterCode. </p>
<p style="font-size:11px">Пожалуйста, не удаляйте его при переписке для более быстрого решения вопросов</p>
