@model IEnumerable<MessageViewModel>
<div class="widget-body innerAll inner-2x">
    <div class="innerAll inner-2x">
            <ul class="chat media-list">
                @foreach (var item in Model.OrderByDescending(m => m.Created))
                {
                    <li class="media">
                        <a class="pull-left" href="#"><img class="media-object thumb" src="@(string.IsNullOrEmpty(item.IconPath) ? "/content/images/profile.jpg" : item.IconPath)" alt="50x50" width="50"></a>
                        <div class="media-body">
                            <span class="label label-default pull-right">@(item.Created.Date == DateTime.Now.Date ? item.Created.ToShortTimeString() : item.Created.ToShortDateString())</span>
                            <h5 class="media-heading">@item.Title</h5>
                            <p class="margin-none">@item.Msg</p>
                        </div>
                    </li>
                }
            </ul>
    </div>
</div>
