@model FullControlWrapViewModel

<div id="brandWrapper">
    
</div>
<div id="logoWrapper">
    <div id="logo">
        <div id="toggleNavbarColor" data-toggle="navbar-color">
            <a href="" class="not-animated color color-blue active"></a>
            <a href="" class="not-animated color color-white"></a>
            <a href="" class="not-animated color bg-primary"></a>
            <a href="" class="not-animated color color-inverse"></a>
        </div>

        <div class="innerTB">
            <select name="" id="menu_switch" data-style="btn-inverse" class="selectpicker margin-none dropdown-menu-light" data-container="body">
                <option value="company_data">Данные по компании</option>
                @*<option value="navigation_components">Components</option>
                    <option value="navigation_modules">Admin Modules</option>
                    <option value="navigation_modules_front">Website Modules</option>*@
            </select>
        </div>
    </div>
</div>
<ul class="menu list-unstyled" id="company_data">
</ul>

