
<ul class="nav nav-tabs nav-stacked main-menu">
    <li class="nav-header hidden-tablet">Управление</li>
    <li><a class="ajax-link" href="/home/index"><i class="icon-home"></i><span class="hidden-tablet"> Главная</span></a></li>
    <li><a class="ajax-link" href="/home/indexusers"><i class="icon-refresh"></i><span class="hidden-tablet"> Пользователи</span></a></li>
    <li class="nav-header hidden-tablet">Система ролей</li>
    <li><a class="ajax-link" href="/home/IndexFunctionalRoles"><i class="icon-align-justify"></i><span class="hidden-tablet"> Функциональные роли</span></a></li>
    <li><a class="ajax-link" href="/home/indexroles"><i class="icon-gift"></i><span class="hidden-tablet"> Роли</span></a></li>
    <li><a class="ajax-link" href="/home/indexrules"><i class="icon-certificate"></i><span class="hidden-tablet"> Правила</span></a></li>
</ul>