
 .select2-container {
width:100%;
}

.modal.modal-wide .modal-dialog {
	width: 94%;
}


@-webkit-keyframes modal-dialog  {
	0% {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform:  perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
		-moz-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
		-ms-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
		transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
		opacity: 0;
	}
    68% {
		-webkit-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
		-moz-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
		-ms-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
		transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
		opacity: 0.8;                
    }
	100% {
		-webkit-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
		-moz-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
		-ms-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
		transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
		opacity: 1;
	}
}
@keyframes modal-dialog {
	0% {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
		-moz-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
		-ms-transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
		transform: perspective(90%) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
		opacity: 0;
	}
	68% {
		-webkit-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
		-moz-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
		-ms-transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
		transform:  rotateY(10deg) rotateX(10deg) translateZ(20px);
		opacity: 0.8;                
    }
    100% {
		-webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
		-moz-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
		-ms-transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
		transform:  rotateY(0deg) rotateX(0deg) translateZ(0px);
		opacity: 1;
	}
}
.modal-dialog  {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: modal-dialog;
	animation-name: modal-dialog;
}
.today-cart {
    background: rgba(242, 104, 13, 0.18)    /* 10% opaque red */ ;
    text-shadow: 0 1px 1px rgba(255,255,255,0.9);
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.3), 
        inset 0 -2px 3px rgba(0,0,0,0.3),
        0 1px 1px rgba(255,255,255,0.9);
}
.st-clr-0,
.st-clr-1 {
    background:gray;
    border-color:gray;
    color:white;
}
.st-clr-2 {
    background:green;
    border-color:green;
    color:white;
}
.st-clr-3 {
    background:black;
    border-color:black;
    color:white;
}
.st-clr-4 {
    background:orange;
    border-color:orange;
    color:white;
}
.st-clr-5 {
    background:blue;
    border-color:blue;
    color:white;
}
.st-clr-6 {
    background:yellow;
    border-color:yellow;
    color:white;
}
.st-clr-7 {
    background:brown;
    border-color:brown;
    color:white;
}
.st-clr-8 {
    background:red;
    border-color:red;
}
.st-clr-9 {
    background:cyan;
    border-color:cyan;
}
         
div#spinner
{
    display: none;
    width:20%;
    height: 150px;
    position: fixed;
    top: 45%;
    left: 40%;
    background:url('/content/spinner.gif') no-repeat center #fff;
    text-align:center;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #8bbf61;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 2;
    box-shadow: 1px 2px #8bbf61;
    overflow: auto;
    border-radius: 5px;
}

#taskProcessActions input[type=button],
#availableActions input[type=button]{
    border:2px solid white;
}

.nicescroll-rails {
    background-color:silver;
}

.nicescroll-rails {
 cursor:s-resize;
}