@model CRMCompanyEditModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">@Model.LegalName</h3>
</div>
<!-- // Modal heading END -->
<!-- Modal body -->
<div class="modal-body">
    <div class="innerAll">
        <div class="innerLR">
            <form id="comment-legal-form" class="form-horizontal" role="form">
               @Html.HiddenFor(m=>m.LegalEntityId)
             
                <div class="form-group">
                    @Html.LabelFor(m => m.Comment, new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-9">
                        @Html.TextAreaFor(m => m.Comment, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="button" onclick="updateComment()" class="btn btn-primary btn-action" value="Обновить заметку об организации" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>