<ul class="nav nav-tabs nav-stacked main-menu">
    <li class="nav-header hidden-tablet">Управление</li>
    <li><a class="ajax-link" href="/adminpanel/index/HomePage"><i class="icon-home"></i><span class="hidden-tablet"> Главная</span></a></li>
</ul>
