@model UserContext.Role
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="RoleModalLabel">Новая роль</h3>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("IndexRole", "Role"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <legend>Новая роль</legend>

                <div class="control-group">
                    <label class="control-label">Название</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Name)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Описание</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Description)
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-success" value="добавить" />
                    </div>
                </div>
            </fieldset>
        }
    </div>
    <div class="modal-footer">
        <button class="btn close" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>