@model string
<div class="scan-img ">
    @Html.Hidden("scanPaths", Model)
    <div class="col-md-2">
        <img style="max-width:100px" src="@Model" />
        <small><span class="btn btn-default padding-none" onclick="$(this).parents('.scan-img').remove()">&nbsp;Удалить:<i class="fa fa-trash-o"></i>&nbsp;</span></small>
 </div>
</div>