@model string
<div class="scan-img ">
    @Html.Hidden("scanPaths", Model)
    <div class="col-md-2">
        <label>&nbsp;<span class="btn btn-default padding-none" onclick="$(this).parents('.scan-img').remove()">&nbsp;<i class="fa fa-trash-o"></i>&nbsp;</span></label><img style="max-width:100px" src="@Model" />
    </div>
</div>