<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TicketEntities" connectionString="metadata=res://*/TicketEntities.csdl|res://*/TicketEntities.ssdl|res://*/TicketEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=78.24.221.198;initial catalog=fifer_ticket;user id=sa1;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UserEntities" connectionString="metadata=res://*/UserEntity.csdl|res://*/UserEntity.ssdl|res://*/UserEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=78.24.221.198;initial catalog=fifer_user;user id=sa1;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CompanyEntities" connectionString="metadata=res://*/CompanyEntity.csdl|res://*/CompanyEntity.ssdl|res://*/CompanyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=78.24.221.198;initial catalog=fifer_company;user id=sa1;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CompanyViewEntities" connectionString="metadata=res://*/CompanyEntityView.csdl|res://*/CompanyEntityView.ssdl|res://*/CompanyEntityView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=78.24.221.198;initial catalog=fifer_company;user id=sa1;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LogEntities" connectionString="metadata=res://*/LogEntities.csdl|res://*/LogEntities.ssdl|res://*/LogEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=78.24.221.198;initial catalog=fifer_log;user id=sa1;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="MvcMailer.BaseURL" value="" /></appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
     <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="ru-RU" uiCulture="ru-RU" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/SignIn" timeout="1440" />
    </authentication>
    <membership defaultProvider="FiferMembershipProvider">
      <providers>
        <clear />
        <add name="FiferMembershipProvider" type="AuthService.FiferMembership.FiferMembershipProvider" connectionStringName="UserEntities" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="UserEntities" applicationName="FiferCRM" />
      </providers>
    </profile>
    <roleManager defaultProvider="FiferRoleProvider" enabled="true">
      <providers>
        <clear />
        <add connectionStringName="UserEntities" applicationName="/" name="FiferRoleProvider" type="AuthService.FiferMembership.FiferRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>

  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>

      <!-- Method#1: Configure smtp server credentials 
      <smtp from="ЭМПРАНА &lt;no-reply@emprana.ru&gt;">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="no-reply@emprana.ru" password="\$8H[3^nC&lt;,G" />
      </smtp>
       -->
      <!-- Method#1: Configure smtp server credentials -->
      <smtp from="Bizinvit &lt;fifer.xrm@gmail.com&gt;">
        <!--<network enableSsl="true" host="smtp.sendgrid.net" port="587" userName="Juicer" password="juicerman2201" />-->
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="fifer.xrm@gmail.com" password="fifer.xrm123" />
      </smtp>

      <!-- Method#2: Dump emails to a local directory -->
      <!--
      <smtp from="some-email@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\"/>
      </smtp>
      -->
      <!--<smtp from="some-email@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="some-email@gmail.com" password="valid-password" />
      </smtp>-->
      <!-- Method#2: Dump emails to a local directory -->
      <!--
      <smtp from="some-email@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\"/>
      </smtp>
      -->
    </mailSettings>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
</configuration>