@model FinanceClause

@{
    ViewBag.Title = Model.Name;
}

@section LeftMenu
{
    @Html.Partial("LeftMenu", Model)
}

@section TopMenu
{
    @Html.Partial("TopMenu")
}

<div class="layout-app">

    <!-- row --><div class="row row-app">
        <!-- col -->
        <div class="col-md-12">

            <!-- col-separator.box -->
            <div class="col-separator col-unscrollable box col-separator-first">

                <!-- col-table -->
                <div class="col-table">
                    <!-- col-table-row -->
                    <div class="col-table-row">

                        <!-- col-app -->
                        <div class="col-app col-unscrollable">

                            <!-- col-app -->
                            <div class="col-app">

                                <div class="innerAll">

                                    <!-- Tabs -->
                                    <div class="relativeWrap">
                                        <div class="widget widget-tabs widget-tabs-double-2 widget-tabs-responsive">

                                            <!-- Tabs Heading -->
                                            <div class="widget-head">
                                                @* Todo set menu tab remember *@
                                                <ul>
                                                    <li class="active"><a class="glyphicons suitcase" href="#tabService" data-toggle="tab"><i></i><span>Услуги компании</span></a></li>
                                                    <li class=""><a class="glyphicons building" href="#tabExpense" data-toggle="tab"><i></i><span>Статьи расходов</span></a></li>
                                                </ul>
                                            </div>
                                            <!-- // Tabs Heading END -->
                                            <div class="widget-body">
                                                <div class="tab-content">
                                                    <div id="tabService" class="tab-pane active widget-body-regular">
                                                        <h4 class="innerTB">Услуги &nbsp;@if ((bool)ViewBag.IsRegisterCompany)
                                                                                         {
                                                                                             <span onclick="loadModalContentWithCallback('modal-add', 'ActivityServiceEdit', 'Finances/ActivityService', '', initMultiSelect)" class="btn btn-primary"><i class="fa fa-fw fa-plus-square-o"></i> Добавить</span>
                                                                                         }
                                                                                         else
                                                                                         {
                                                                                             <label class="label label-warning">Для добавления услуг укажите юр. адрес компании</label>
                                                                                         }</h4>
                                                        <div class="widget-body innerAll inner-2x">
                                                            <div class="innerAll inner-2x">
                                                                @Html.Partial("ServicesCards", Model.PaymentServices)
                                                            </div>
                                                        </div>
                                                                <!-- // Widget END -->
                                                    </div>
                                                    <div id="tabExpense" class="tab-pane widget-body-regular">
                                                      <div class="tab-content">
                                                            <div class="widget-body innerAll inner-2x">
                                                                <h4 class="innerTB">Статьия расходов &nbsp;<span onclick="loadModalContent('modal-add', 'ExpenseEdit', 'Finances/ActivityService', '')" class="btn btn-primary"><i class="fa fa-fw fa-plus-square-o"></i> Добавить</span></h4>
                                                                @Html.Partial("ExpensesTable", Model.Expenses)
                                                                <!-- // Widget END -->
                                                             </div>
                                                     </div>

                                                            <!-- // Tab content END -->
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                    <!-- // Tabs END -->
                                    <!-- Tabs -->

                                </div>

                            </div>
                            <!-- // END col-app -->

                        </div>
                        <!-- // END col-app.col-unscrollable -->

                    </div>
                    <!-- // END col-table-row -->

                </div>
                <!-- // END col-table -->

            </div>
            <!-- // END col-separator.box -->

        </div>
        <!-- // END row-app -->
    </div>
</div>


<div class="modal fade in" id="modal-add">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal heading -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Загрузка формы</h3>
            </div>
            <!-- // Modal heading END -->
            <!-- Modal body -->
            <div class="modal-body">

            </div>
            <!-- // Modal body END -->

        </div>
    </div>

</div>